.container {
  display: flex;
  flex-direction: column; /* stack nav above video */
  justify-content: center; /* vertical centering */
  align-items: center; /* horizontal centering */
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#video-picker {
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
}

#video-picker a {
  text-decoration: none;
  margin: 0 0.5rem;
  color: #0057e7;
}

#video-picker a:hover {
  text-decoration: underline;
}
